body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.wrapper {
  margin-left: 5%;
  margin-right: 5%;
}
.arrange-left {
  float: left;
}
.wid-25 {
  width: 25%;
}
.wid-50 {
  width: 50%;
}
.wid-75{
  width: 75%;
}
.wid-33{
  width: 33.3%;
}
.next-row{
  clear: both;
}
.common-btn {
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: #fff;
  min-width: 50px;
  text-align: center;
  color: #d19c97;
  margin-right: 10px;
}

.common-btn span {
  font-size: 16px;
  font-weight: 800;
}

.common-btn span i{
  padding-right: 5px;
  padding-left: 5px;
}

.flip-img{
  transform: scaleX(-1);
}
.margin-right-5{
  margin-right: 5%;
}

@media only screen and (max-width:992px) {
  .wid-25, .wid-50, .wid-75, .wid-33{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .arrange-left{
    float: none;
  }
}