body {
  margin: 0;
}
.wrapper {
  margin-left: 5%;
  margin-right: 5%;
}
.arrange-left {
  float: left;
}
.wid-25 {
  width: 25%;
}
.wid-50 {
  width: 50%;
}
.common-btn {
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 0;
  background-color: #fff;
  min-width: 50px;
  text-align: center;
  color: #d19c97;
}

.common-btn span {
  font-size: 16px;
  font-weight: 800;
}
