.logo h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}
.header {
  margin-top: 25px;
  min-height: 60px;
}
.logo h1 span:first-of-type {
  padding: 0px 15px;
  border: 1px solid #ddd;
  margin-right: 5px;
  color: #d19c97;
}
.search-product input {
  width: 70%;
  height: 40px;
  border-radius: 0;
  padding: 10px;
  font-size: 18px;
  color: #666;
  border: 1px solid #ddd;
  border-right: none;
}

.search-product input:focus {
  outline: none;
}

.search-product button {
  height: 40px;
  border-radius: 0;
  border: 1px solid #ddd;
  margin-left: -6px;
  font-size: 15px;
  color: #d19c97;
  background-color: #fff;
}
.selected-product {
  text-align: right;
}

.full-banner-warapper {
  border-top: 1px solid #ddd;
}
.list-header {
  height: 65px;
  background-color: #d19c97;
}
.list-header h4 {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 500;
}
.list-header span {
  float: right;
  padding: 28px;
}
.category-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #ddd;
}
.category-list ul li {
  border-bottom: 1px solid #ddd;
  padding: 10px 40px;
}
.category-list ul li a {
  color: #333;
  text-decoration: none;
}
/*  */
.shop-menu {
  display: flex;
}
.left-menu-list {
  width: 70%;
}
.right-menu-list {
  width: 30%;
  direction: rtl;
}
.shop-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.shop-menu ul li {
  min-width: 75px;
  padding: 20px;
}
.shop-menu ul li a {
  color: #333;
  text-decoration: none;
}
.shop-menu ul li a:hover {
  color: #d19c97;
}
.shop-menu ul.dropdown {
  display: none;
  border: 1px solid #ddd;
  position: absolute;
  box-shadow: #ddd 1px 1px 4px;
}
.dropdown-head:hover ul.dropdown {
  display: block;
}
.banner {
  position: relative;
  height: 400px;
  float: left;
  width: 100%;
  margin-left: 15px;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner .banner-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  background-color: #0000003d;
}
.banner-text h4 {
  margin: 0;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 500;
}
.banner-text h3 {
  margin: 0;
  font-size: 50px;
}
.banner-text a.show-now {
  background-color: #fff;
  color: #000;
  padding: 10px 15px;
}
/*  */

.features-point {
  border: 1px solid #ddd;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 25px;
}

.features-point .icon-text-wrap {
  padding: 30px;
  display: flex;
}
.icon-text-wrap i {
  font-size: 30px;
  color: #d19c97;
}
.icon-text-wrap span {
  font-size: 20px;
  padding-left: 20px;
  font-weight: 600;
}
.category-item {
  border: 1px solid #ccc;
  padding: 30px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.category-item .product-count {
  text-align: right;
  margin-bottom: 10px;
}
.category-item .category-img img {
  width: 100%;
}
.category-item .category-type h5 {
  margin-bottom: 0;
  font-size: 25px;
}
/*  */
.offer-banner {
  background-color: #edf1ff !important;
  margin-bottom: 50px;
  position: relative;
  margin-right: 25px;
}
.offer-banner img {
  position: absolute;
  max-width: 50%;
  max-height: 90%;
  bottom: 0;
  z-index: 100;
  float: left;
}

.offer-banner .offer-text {
  text-align: right;
  padding: 40px;
}

.offer-banner .offer-text h5 {
  color: #d19c97 !important;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}
.offer-banner .offer-text h3 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 10px;
}
.offer-banner .offer-text button {
  padding: 15px 30px;
  color: #d19c97 !important;
  border: 1px solid #d19c97;
  background-color: transparent;
  cursor: pointer;
}
.cart {
  border: 1px solid #ddd;
  margin-right: 25px;
  margin-bottom: 50px;
}
.cart img {
  width: 100%;
}
.cart .cart-details {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 15px;
}

.cart .cart-details .name-head {
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.cart .cart-details .cart-price {
  display: flex;
  justify-content: center;
}
.cart .cart-price h6 {
  font-size: 16px;
  margin: 0;
  padding: 5px;
  font-weight: 500;
}
.cart .cart-price h6.last {
  text-decoration: line-through;
  color: #888;
}

.cart .cart-footer {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.cart .cart-footer a {
  color: #d19c97;
  font-size: 14px;
}
.stay-updated {
  margin-bottom: 100px;
  background-color: #edf1ff;
  margin-left: -5.5%;
  margin-right: -5.5%;
  text-align: center;
  padding-top: 50px;
  padding-left: 32%;
  padding-right: 32%;
  padding-bottom: 80px;
}
.stay-updated .update-text {
  line-height: 2;
  color: #666;
}
.stay-updated .updated-inputs {
  display: flex;
}
.stay-updated .email-input {
  flex: 100%;
  border-radius: 0;
  height: 47px;
  border: none;
  padding-left: 20px;
  font-size: 16px;
}
.stay-updated .email-btn {
  border-radius: 0;
  border: 1px solid #d19c97;
  color: #000;
  background-color: #d19c97;
  padding: 13px 30px;
  font-size: 16px;
}

.footer {
  background-color: #edf1ff;
  margin-left: -5.5%;
  margin-right: -5.5%;
  padding-left: 5.5%;
  padding-top: 50px;
  padding-bottom: 20px;
  display: flex;
}
.footer .footer-desc {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 25px;
}
.footer .contact-list {
  padding: 0;
  list-style-type: none;
  line-height: 2.5;
}
.footer .contact-list .icon {
  color: #d19c97;
  width: 25px;
}
.quick-links ul {
  list-style-type: none;
  padding: 0;
  line-height: 2;
}
.quick-links ul a {
  text-decoration: none;
  color: #333;
}
.quick-links ul a i {
  padding-right: 5px;
}

.footer .footer-input {
  border: none;
  width: 80%;
  height: 50px;
  margin-bottom: 25px;
  font-size: 18px;
  padding-left: 15px;
}
.footer .footer-button {
  border: 0;
  background-color: #d19c97;
  padding: 15px;
  width: 80%;
  font-size: 18px;
}
.vender-list {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 100px;
}
.vender-list img {
  border: 1px solid #ddd;
}
.copy-right {
  background-color: #edf1ff;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
}

/* shop file style */
.shop-header {
  background-color: #edf1ff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
.shop-header h3 {
  color: #d19c97;
  font-weight: 400;
}
.shop-header h1 {
  text-transform: uppercase;
}
.sort-options {
  text-align: right;
  margin-right: 25px;
  margin-bottom: 20px;
}
.sort-options select {
  border: 1px solid #ddd;
  height: 35px;
  width: 100px;
}
/* custom checkbox */
.custom-control-check {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 16px;
  padding-left: 16px;
}
.custom-control-input{
  position: absolute;
  left: 0;
  z-index: -1;
  width: 16px;
  height: 16px;
  opacity: 0;
}
.custom-control-label{
  position: relative;
  margin-bottom: 0px;
  vertical-align: top;
}
.custom-control-label::before{
  position: absolute;
  top:3px;
  left: -25px;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  border: #d19c97 solid 1px;
}
.custom-control-input:checked ~ .custom-control-label::before{
  border-color:#d19c97;
  background-color: #d19c97;
}
.custom-control-label::after{
  position:absolute;
  top:4px;
  left:-24px;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background: no-repeat 50% / 50% 50%;
}
.custom-control-input ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26l2.974 2.99L8 2.193z'/%3e%3c/svg%3e");
}
/* custom checkbox end */

.custom-control-check{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  color: #666;
  margin-bottom: 15px;
}
.filter-prod-count {
  border: 1px solid #ddd;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
}
/* cart details start */
.cart-details{
  margin-top: 50px;
  margin-bottom: 50px;
}
.cart-details table{
  width: 100%;
  border-collapse: collapse;
}
.cart-details table thead {
  color: #666;
  background-color: #EDF1FF;
  text-align: center;
}
.cart-details table thead th {
  padding: 15px;
}
.cart-details table tbody {
  text-align: center;
  vertical-align: middle;
}
.cart-details img{
    width: 60px;
    vertical-align: middle;
}
.cart-details table tbody td {
  border: 1px solid #edf1ff;
  display: table-cell;
  padding: 15px;
}
.cart-details .text-with-img{
  text-align: left;
}
.quantity-input {
  display: flex;
}
.quantity-input button {
  border: 0;
  background-color: #d19c97;
  font-size: 24px;
  width: 30px;
  border-radius: 0px;
}
.quantity-input input {
  width: 50px;
  border: 1px solid #ccc;
  background-color: #edf1ff;
  text-align: center;
}
.cart-details .custom-delete-button{
  padding: 5px;
  background-color: #d19c97;;
}
/* cart details end */
/* cart summary style */
.cart-summary-wrapper{
  margin-top: 50px;
  margin-left: 20px;
}
.cart-summary-wrapper .coupon-inputs {
  display: flex;
  height: 50px;
}

.coupon-inputs input {
  border: 1px solid #ddd;
  border-right: 0;
  padding-left: 20px;
  width: 60%;
}
.coupon-inputs button{
  background-color: #d19c97;
  border: 0;
  width: 40%;
}
.cart-summary-wrapper  .cart-summary-body{
    border: 1px solid #ddd;
    margin-top: 50px;
    padding: 20px;
}
.cart-summary-wrapper .cart-summy-item{
  display: flex;
    justify-content: space-between;
}
.cart-summary-wrapper .total-wrapper {
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px;
}
.cart-summary-wrapper .total-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.total-head h4{
  margin: 0;
}
.proceed-input button {
  background-color: #d19c97;
  border: 0;
  padding: 20px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
}
/* cart summary style end */


@media only screen and (max-width: 992px) {
  .search-product {
    display: flex;
  }
  .search-product input {
    flex: 100%;
  }
  .selected-product {
    text-align: left;
  }
  .shop-menu ul {
    display: block;
  }
  .shop-menu ul li {
    padding: 10px;
  }
  .banner {
    float: none;
  }
  .stay-updated {
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 40px;
  }
  .vender-list {
    justify-content: start;
    flex-wrap: wrap;
  }
  .footer {
    display: block;
  }
  .copy-right {
    flex-direction: column;
  }
}
