.logo h1 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}
.header {
  margin-top: 25px;
  min-height:60px
}
.logo h1 span:first-of-type {
  padding: 0px 15px;
  border: 1px solid #ddd;
  margin-right: 5px;
  color: #d19c97;
}
.search-product input {
  width: 70%;
  height: 40px;
  border-radius: 0;
  padding: 10px;
  font-size: 18px;
  color: #666;
  border: 1px solid #ddd;
  border-right: none;
}

.search-product input:focus{
  outline: none;
}

.search-product button {
  height: 40px;
  border-radius: 0;
  border: 1px solid #ddd;
  margin-left: -6px;
  font-size: 15px;
  color: #d19c97;
  background-color: #fff;
}
.selected-product {
  text-align: right;
}

.full-banner-warapper {
  border-top: 1px solid #ddd;
}
.list-header {
  height: 65px;
  background-color: #d19c97;
}
.list-header h4 {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 500;
}
.list-header span {
  float: right;
  padding: 28px;
}
.category-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid #ddd;
}
.category-list ul li{
  border-bottom: 1px solid #ddd;
  padding: 10px 40px;
}
.category-list ul li a{
    color: #333;
    text-decoration: none;
}
/*  */
.shop-menu {
  display: flex;
}
.left-menu-list{
  width: 70%;
}
.right-menu-list{
  width: 30%;
  direction: rtl;
}
.shop-menu ul{
  display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.shop-menu ul li{
  min-width: 75px;
    padding: 20px;
}
.shop-menu ul li a{
  color: #333;
  text-decoration: none;
}
.shop-menu ul li a:hover{
  color: #d19c97;
}
.shop-menu ul.dropdown{
  display: none;
  border: 1px solid #ddd;
    position: absolute;
    box-shadow: #ddd 1px 1px 4px;
}

.dropdown-head:hover ul.dropdown{
  display: block;
}